@import 'src/assets/styles/variables.scss';

.title {
    max-width: 1350px;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;

    .titleTitle {
        color: $main;
        font-size: 26px;
        font-weight: 600;
        margin: 0 0 75px 0;
    }

    .span {
        color: $white;
    }

    .text {
        color: $gray1;
        font-size: 20px;
        font-weight: 500;
        max-width: 1100px;

        @media screen and (max-width: 560px) {
            font-size: 18px;
        }
    }

    .subtitle {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        margin: 75px 0 50px 0;

        @media screen and (max-width: 560px) {
            font-size: 20px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin: 0 0 75px 0;
    }

    .wrap {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .line {
        background-color: $main;
        width: 25px;
        height: 4px;
    }

    .texting {
        color: $gray1;
        font-size: 20px;
        font-weight: 500;
        max-width: 1100px;
        text-align: center;

        @media screen and (max-width: 560px) {
            font-size: 18px;
        }

        @media screen and (max-width: 510px) {
            text-align: start;
        }
    }
}